form {
  height: 350px;
  width: 80vw;
  box-shadow: 12px 12px black;
  background: linear-gradient(to bottom right, #d45c19, #161525);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.5rem;
  gap: 2em;
  span {
    display: inline-flex;
    height: 44px;
    padding: 4px 4px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background: var(--light-storm-grey-3, #0a0b0d);
    color: #f8f9fa;
  }
  .columnContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    .column {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1em;
      input {
        padding-inline-start: 1rem;
        width: 70vw;
        max-width: 268.79px;
        height: 25px;
        flex-shrink: 0;
        border-radius: 8px;
        opacity: 0.7;
        background: linear-gradient(91deg, #5a5a64 4.65%, #52525e 86.45%);
        color: white;
        border: none;
      }
    }
  }

  button {
    width: 70vw;
    max-width: 268.79px;
    height: 25px;
    flex-shrink: 0;
    border-radius: 8px;
    opacity: 0.7;
    background: linear-gradient(91deg, #5a5a64 4.65%, #52525e 86.45%);
    color: white;
    border: none;
  }
}
::-webkit-input-placeholder {
  color: whitesmoke;
} /* WebKit */
::-moz-placeholder {
  color: whitesmoke;
} /* Firefox 19+ */

@media (min-width: 1200px) {
  form {
    width: 711px;
    height: 400px;
    gap: 2em;
    span {
      height: 44px;
      padding: 4px 12px;
      gap: 8px;
    }
    .columnContainer {
      flex-direction: row;
      gap: 6em;
      .column {
        gap: 3em;
        input {
          width: 246px;
          height: 34px;
          padding: 5px;
        }
      }
    }
    button {
      width: 246px;
      height: 38px;
    }
  }
  ::-webkit-input-placeholder {
    color: whitesmoke;
  } /* WebKit */
  ::-moz-placeholder {
    color: whitesmoke;
  } /* Firefox 19+ */
}
