<div class="container">
  <div></div>
  <div>
    <h2>Welcome to Kill Team. </h2>
    <p>In the vast universe of Warhammer 40,000, where stars are battlefields and hope is a rare luxury, a new challenge
      arises. A challenge that demands strategy, courage, and cunning. This is the world of Kill Team.

      Here, in Kill Team, we welcome you to a realm where you can forge your own path to glory. Where every decision
      matters,
      every move is crucial, and every battle is an epic story waiting to be told. This is your moment. This is your
      game.
      This is Kill Team.

      <span>
        Join us today and start creating your own legend!
      </span>
    </p>
  </div>
</div>
